pconte_shmup/Temp/__EditModeScene
pconte_shmup/Temp/UnityTempFile-3a6885c5475bd764cbacdb00ef9fc924
pconte_shmup/Temp/UnityLockfile
pconte_shmup/Library/assetDatabase3
pconte_shmup/Library/assetDatabase3
pconte_shmup/Library/AssetServerCacheV3
pconte_shmup/Assets/Sprites/main_spritesheet.png.meta
*.meta
pconte_shmup/Library/metadata/f5/f59b0852a015abe4ea3635c68f6f8e44
pconte_shmup/Library/guidmapper
pconte_shmup/Library/AssetServerCacheV3
*.meta